body {
  font-family: sans-serif;
  margin: 8px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 3rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  text-align: center;
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  min-height: 13.75rem;
}
